.AddNote-container {
  color: #dedede;
  margin-left: 16px;
}

.AddNote button {
  margin-top: 10px;
}

.error {
  background-color: tomato;
  border-radius: 5px;
  text-align: center;
  color: black;
}